link(rel= "stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css", integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi", crossorigin="anonymous")
link(rel="stylesheet", href="/css/main.css", type="text/css")
script(type="text/javascript", src="/public/jquery.js")
script(type="text/javascript", src="/public/jquery-ui.js")

html
    head
        meta(charset="utf-8")
        Title Z-своих не бросаем
    body
        div(class="title_panel")
            div(class="title")
                h1 Social Network For Patriots (SNFP)
            div(class="news_button")
                button(class="news_list" onclick="window.location = '/news'; return false;") &nbsp;News&nbsp;
            div(class="user_button")
                button(class="user_list" onclick="window.location = '/'; return false;") &nbsp;Users&nbsp;
        div(class="action_panel")
            //button(class="bi bi-pencil-square" onclick="open_edit(); return false;") Edit
            button(class="edit_button")
                div(class="i.bi.bi-info-square"  onclick="open_edit(); return false;") &nbsp;Edit
            //(class="bi bi-info-square" onclick="window.location = '/user_info/' + selected_user(); return false;") Info
            button(class="info_button")
                div(class="bi bi-info-square" onclick="open_info(); return false;") &nbsp;Info
        div(class="user_panel")
            table(class="user_table", id="user_table", border=1)
                tr
                    td(class="table_checkbox")
                    //td(class="table_id")
                    //    b ID
                    td(class="table_photo")
                        b Photo
                    td(class="table_name")
                        b Username
                    td(class="table_mail")
                        b Mail
                    td(class="table_birth")
                        b Birth date
                    td(class="table_status")
                        b Status
                    td(class="table_role")
                        b Role

        dialog(id="edit_dialog", class="user_edit")
            b User Information
            form(method="dialog")
                p UserName:
                input(type="text" id="name_textbox" class="textbox")
                p EMail:
                input(type="text" id="email_textbox" class="textbox")
                p Birthdate:
                input(type="date" id="date_textbox" class="textbox")
                p Status:
                select(id="status" class="textbox")
                    option(value="Inactive") Inactive
                    option(value="Active") Active
                    option(value="Banned") Banned
                p Role:
                select(id="role" class="textbox")
                    option(value="User") User
                    option(value="Admin") Admin
                p
                button(class="edit_button" onclick="edit_user(); return false;") Save edits
                button(class="edit_button") Cancel edits



script(type="text/javascript", src="/js/main.js")